<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="QuickHotel">
            <classes>
                <class name="TestCases.Config"></class>

                <!--
                <class name="TestCases.LoginPageTest"></class>
                <class name="TestCases.HomePageTest"></class>
                 <class name="TestCases.AccountPageTest"></class>
                <class name="TestCases.HotelPageTest"></class>
                <class name="TestCases.UserPageTest">
                    <methods>
                        <exclude name="addNewUser"></exclude>
                    </methods>

                       <class name="TestCases.TaxPageTest">

                </class>
                </class>-->


               <class name="TestCases.ServicesPageTest">
                   <methods>
                       <exclude name="updateServiceData"></exclude>
                       <exclude name="addNewService"></exclude>
                   </methods>
                </class>
            </classes>
    </test>
</suite>